*.rsf
data/interim/*
notebooks/.ipynb_checkpoints/
notebooks/FarField.dat
notebooks/FarField.jpg
notebooks/Mobil_migration_well_logs.pdf
notebooks/README.txt
notebooks/line_12_text_header.txt
notebooks/mobil_wellogs.tar.gz
notebooks/mobil_wellogs.tar.gz.1
notebooks/seismic.segy
notebooks/well4.Q
notebooks/well4.blk
notebooks/well4.elan
notebooks/well4.log
notebooks/well5.Q
notebooks/well5.blk
notebooks/well5.elan
notebooks/well5.log
notebooks/well7.Q
notebooks/well_4_composite_log.pdf
notebooks/well_5_composite_log.pdf
notebooks/well_5_rms_profile.txt
.ipynb_checkpoints/
